@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  margin: 1.25rem;
  padding: 1.25rem;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  padding: 1.25rem 0 1.25rem 0;
}

ul {
  list-style-type: square;
}

ul li {
  margin-left: -1.25rem;
  padding: 5px 0 5px 0;
}
